<html>
	<table>
				<caption>Matrix A</caption>

				<tr style="background-color: lightblue">
					<th>
						<!--input type="submit" id="matA" value="Submit Matrix Changes"-->
					</th>
					<th>Column 1</th>
					<th>Column 2</th>
					<th>Column 3</th>
				</tr>

				<colgroup>
					<col></col>
					<col span="3" style="background-color: yellow">
				</colgroup>

				<tr>
					<th>
						Row 1
					</th>

					<td>
						<input class="M1 R1 C1" type="number" value="1" id="111">
					</td>

					<td>
						<input class="M1 R1 C2" type="number" value="0" id="112">
					</td>

					<td>
						<input class="M1 R1 C3" type="number" value="0" id="113">
					</td>
				</tr>
	</table>
</html>